.cart-container {
  display: flex;
  flex-direction: column;

  min-height: 400px;
}

.cart-image {
  width: 150px;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .cart-image {
    width: 200px;
  }
}
